.min-gallery
{
	width: 940px;
	height: 280px;
	float:left;
	margin-top:10px;
	margin-left:10px;
	
}
.min-gallery .preview
{
	width: 940px;
	height: 280px;
	
	
	
	position: relative;
	
	overflow: hidden;
	
}
.min-gallery .preview img
{
	/* width: 960px;             height: 525px;*/
	position: absolute;
}
.min-gallery .bottom
{
	width: 100%;
	height: 0px;
	color: Gray;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
	overflow: hidden;
}

